body {
    background-color: rgb(34, 36, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
    color: rgb(246, 79, 28);
    justify-content: center;
    display:flex;
}

h2{
    color: rgb(76, 210, 247);
    justify-content: center;
    display:flex;
}
.selections {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.selections {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
}

.selections:hover {
    transform: scale(1.5);
    transition: 100ms;
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(246, 246, 246);
    
}

.results-score {
    margin-left: .5rem;
    font-size: 2.3rem;
    color: rgb(241, 74, 28);
}

.result-selection {
    opacity: .4;
}

.result-selection.winner {
    opacity: 1;
    font-size: 2.8rem;
}